<div class="py-2" [hidden]="!base.visible">
	<mat-form-field class="w-100" appearance="outline">
		<mat-label>{{ base.label }}</mat-label>
		<mat-icon *ngIf="base.icon != ''" matPrefix>{{ base.icon }}</mat-icon>
		<input #InputField matInput [id]="id" [type]="base.format != 'password' ? 'text' : 'password'" 
			[value]="base.value" [disabled]="base.disabled" [required]="base.required"
			(focus)="onFocus()" (blur)="onBlur()" (input)="onInput($event)" (keypress)="onKeypress()" />
		<mat-icon *ngIf="!hasError && wasStrated" matSuffix class="text-success">check</mat-icon>
		<mat-icon *ngIf="hasError && wasStrated" matSuffix class="text-danger">close</mat-icon>
	</mat-form-field>
</div>
<popup *ngIf="base.required" [message]="err" [show]="hasError && showPopup"></popup>